
.diagrama-led, .simbolo-led, .simbolo-diodo-rectificador, .tabla-diodos-led, .circuito-led-quema, .formulas{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;    
}

.figcaption{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
}

.datasheet{
    font-weight: bold;
    font-style: italic;
    color:burlywood;
}

.formulas-subtitulo{
    text-align: center;
}

.sub-quema{
    text-align: center;
    color: red;
}

.span-ohm{
    color:goldenrod;
}

.nota{
    font-style: italic;
    font-size: 15px;
}

.nota-roja{
    color: red;
    font-weight: bolder;
    font-style: italic;
    font-size: 15px;
}

.ventaja{
    color: rgb(0, 177, 0);
    
}

.desventaja{
    color: red;
}

.forward{
    color: rgb(161, 161, 161);
}

.formula-texto{
    font-family: Arial, Helvetica, sans-serif;
    color:aqua;
    font-size: 20px;
    text-align: center;
}

/*Clases que serán agregadas con Js:*/
.animar-boton-serie{
    box-shadow: 0 0 20px red;
    color:red;
}

.animar-boton-paralelo{
    box-shadow: 0 0 20px yellow;
    color:rgb(255, 68, 0);
}

.animar-boton-watts{
    box-shadow: 0 0 20px green;
    color:rgb(0, 99, 0);
}

.span-formula-i-w{
    color:aqua;
}



/* RESPONSIVE */
@media (min-width: 320px) {
    .tabla-diodos{
        width: 300px;
    }    
}

@media (min-width: 410px){
    .tabla-diodos{
        width: 380px;
    }
}

@media (min-width: 600px){
    .tabla-diodos{
        width: 500px;
    }
}

@media (min-width: 900px){
    .tabla-diodos{
        width: 650px;
    }
}